*{
	padding: 0;
	margin: 0;
	font-size: 100%;
}
html, body, #wrapper{
	height: 100%;
}
body{
	background: url("/img/bg.png") #000000 no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0px;
	margin: 0px;~
	font: 18pt verdana;
	color: #ffffff;
}
a{
	text-decoration: none;
	color: #00a3ff;
}
#wrapper{
	width: 95%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	display: block;
}
.clear{
	clear: both;
}
ul.menu{
	background: rgba(0, 0, 0, 0.2);
	height: 85px;
	font: 14pt verdana;
	padding-left: 100px;
	margin: 0px;
}
ul.menu li{
	display: inline-block;
}
ul.menu a{
	display: block;
	text-align: center;
	padding: 30px 50px;
}
ul.menu a:hover, .main_block_right input[type="submit"]:hover{
	background: rgba(50, 50, 50, 0.6);
	color: #ffffff;
}
.main_block{
	background: rgba(0, 0, 0, 0.8);
	min-width: 45%;
	min-height: 70%;
	margin: 20px 1%;
	padding: 1%;
	float: left;
}
.main_block_left{
	float: left;
	display: block;
	margin-top: 10%;
	margin-bottom: 25%;
	width: 20%;
}
.main_block_right{
	float: left;
	display: block;
	text-align: center;
	padding-left: 10px;
	width: 75%;
}
.main_block_top{
	padding-left: 20px;
	margin-bottom: 20px;
	display: block;
	float: left;
	width: 100%;
}
.main_block_top input[type="text"]{
	border: 0px;
	background: rgba(0, 0, 0, 0);
	color: white;
	font: 18pt arial;
	text-align: center;
}
.main_block_top_right{
	width: 52%;
	display: block;
	float: left;
}
.main_block_top_right select{
	background: rgba(0, 0, 0, 0.4);
	border: 0px;
	color: white;
	font: 18pt arial;
}
.main_block_top_left{
	width: 47%;
	display: block;
	float: left;
}
.main_block_top_left h1{
	margin: 10px;
	font: 18pt Arial,sans-serif;
}
.main_block_right input[type="submit"]{
	width: 100%;
	height: 50px;
	margin: 10px 0px;
	background: rgba(0, 0, 0, 0.4);
	border: 0px;
	font: 18pt arial;
	color: #00a3ff;
	cursor: pointer;
}
.team_logo{
	width: 100px;
	height: 100px;
	display: block;
	background: url("/img/team_logo/no logo.png");
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.team_logo input[type="file"]{
	display: none;
}
.block_player_list{
	float: left;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
}
.player_list{
	display: block;
}
.player_list input[type="text"], .team_stats li{
	background: rgba(50, 50, 50, 0.6);
	margin: 5px 0px;
	border: 0px;
	font: 18pt arial;
	color: #00a3ff;
	padding: 5px;
	text-align: center;
}
#block_team_stats{
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 10px;
	margin: 17% auto;
	width: 75%;
}
.team_stats li{
	display: block;
	margin: 10px 10px;
}
/* advices page style */
#main_block_advices{
	background: rgba(0, 0, 0, 0.5); 
	min-height: 500px;
	padding: 2% 30%;
}
.block_match{
	background: #000;
	padding: 5% 5%;
	height: 60px;
}
.team_text{
	float:left;
	width: 35%;
	padding:0px 5%;
	text-align: center;
}
.team_logo_small{
	float:left;
	height: 60px;
	width: 60px;
	background: url("/img/team_logo/no logo.png");
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.team_tag{
	float: left; 
	width: 60%; 
	text-align: center; 
	padding: 14% 0px;
}